<div class="form-container">
    <form [formGroup]="bookingForm" (submit)="onSubmit(bookingForm.value)">
        <div class="form-group-container" formGroupName="guestInfo" *ngIf="!user.isSignedIn">
            <section>
                <mat-form-field apperance="fill" class="form-field-half">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="nameFirst">
                </mat-form-field>
                <mat-form-field apperance="fill" class="form-field-half">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="nameLast" >
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-field-full">
                    <mat-label>Email</mat-label>
                    <input 
                    matInput 
                    type="email"
                    formControlName="email"
                    >
                    
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-field-full">
                    <mat-label>Confirm Email</mat-label>
                    <input 
                    matInput 
                    type="email"
                    formControlName="confirmEmail"
                    onPaste="return false"
                    >
                    <mat-error *ngIf="_errors.hasError && _errors.type === 'emailNotMatch'">{{_errors.message}}</mat-error>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="form-field-full">
                    <mat-label>Phone Number</mat-label>
                    <input 
                    matInput  
                    type="tel"
                    formControlName="phoneNumber"
                    >
                </mat-form-field>
            </section>
            <section>
                <mat-checkbox 
                matTooltip="{{tooltips.BOOKING.ageCheck}}" 
                [matTooltipPosition]="'above'" 
                class="form-field-full" 
                 ngDefaultControl 
                 [color]="'primary'" 
                 formControlName="ageCheck" >I am 18 years or older</mat-checkbox>
            </section>
        </div>

        <div class="form-group-container"  formGroupName="tattoo">
            <section>
                <mat-form-field 
                matTooltip="{{tooltips.BOOKING.tattooDesc}}"
                [matTooltipPosition]="'above'"
                class="form-field-full"
            > 
                <mat-label>Tattoo Description</mat-label>
                <textarea matInput formControlName="tattooDesc"></textarea>
            </mat-form-field>
            </section>
            
            <section>
                <mat-form-field 
                matTooltip="{{tooltips.BOOKING.tattooPlacement}}"
                [matTooltipPosition]="'above'"
                class="form-field-full"
                >
                <mat-label>Exact Tattoo Placement</mat-label>
                <input matInput formControlName="tattooPlacement">
            </mat-form-field>
            </section>
            <!--<section >
                <mat-form-field class="form-field-full">
                    <mat-label>Select Available Date</mat-label>
                    <input matInput 
                    [matDatepicker]="bookingPicker"
                    formControlName="bookingDate"
                    [min]="bookedDates.closest"
                    [matDatepickerFilter]="bookingDateFilter"
                    (focus)="bookingPicker.open()"
                    >
                    <mat-datepicker-toggle matSuffix [for]="bookingPicker"></mat-datepicker-toggle>
                    <mat-datepicker #bookingPicker></mat-datepicker>
                </mat-form-field>
            </section>-->
            <section>
                <div class="drag-drop-section">
                    Reference Photos
                    <app-drag-drop (loadedImages)="referencePhotos($event)"></app-drag-drop>    
                </div>
            </section>
            <section>
                <div class="drag-drop-section">
                    Body Location Photos
                    <app-drag-drop (loadedImages)="bodyPositionPhotos($event)"></app-drag-drop>
                </div>
                
            </section>
            
        </div>
        <section class="center-items">
            <button mat-button type="submit" >Submit</button>
        </section>
        
    </form>
</div>
