@import '/src/assets/master';

.form-container{
    height:fit-content;
    width: 70%;
    max-width: 900px;
    border-radius: 15px;
    border: 10px double var(--joker-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color:white;
    box-shadow: 15px 15px 25px 3px var(--joker-green);
    margin-bottom: 20px;
    @media screen and (min-width: $mediaPCWidth){
        max-width: 700px;
    }
    @media screen and (max-width: $mediaMobileWidth) {
        min-width: 95%;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 90%;
        
        section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        button{
            background: none;
            border: 10px double var(--joker-green);
            color: white;
            width:25%;
        }

        .drag-drop-section{
            display: flex;
            flex-direction: column;
            width: 100%;
            app-drag-drop{
                width: 100%;
            }
        }
    }
}

