.table-container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding:15px;

    .controls{
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    table{
        
        border-collapse: collapse;

    }
    tbody tr:nth-child(odd){
        background-color: #443a3a;
    }
    tbody tr:hover {
        background-color: #437556;
    }
    app-pagination{
        width: 100%;
        height:fit-content;
    }
}