<div class="table-container">
    
    <section class="controls"> 
    </section>
    <table>
        <thead>
            <tr>
                <th *ngFor="let header of headersToDisplay; let i = index">
                    {{header.value}}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of pageToDisplay; let i = index" (click)="rowSelection(row.id)">
                <td (click)=" $event.stopPropagation()" *ngIf="buttonConf == 1">
                    <button class="tbl-action-button" (click)="rowAffirmativeAction(row.id)"><mat-icon color="accent">done</mat-icon></button>
                    <button class="tbl-action-button" (click)="rowNegativeAction(row.id)"><mat-icon color="warn" >close</mat-icon></button>
                </td> <!--admin accept button-->
                <td (click)="$event.stopPropagation()" *ngIf="buttonConf == 3">
                    <button class="tbl-action-button" (click)="rowNegativeAction(row.id)"><mat-icon color="warn" >close</mat-icon></button>
                </td>
                <td>{{row[tablePropMap[1].key]}}</td>
                <td>{{row[tablePropMap[2].key]}}</td>
                <td>{{row[tablePropMap[3].key]}}</td>
                <td>{{row[tablePropMap[4].key]}}</td>
                <td>{{row[tablePropMap[5].key]}}</td>
                <td>{{row[tablePropMap[6].key]}}</td>
                <td>{{row[tablePropMap[7].key]}}</td>
                <td>{{row[tablePropMap[8].key] | tryParseDate: 'MMM dd, yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="no-results" *ngIf="tableData?.length == 0">
        {{noResultsMessage}}
    </div>
    <app-pagination  [tableData]="tableData" (displayPage)="setPage($event)"></app-pagination>
</div>
