.comp-container{
    height: 100%;
    width: 100%;
    background-image: url("/assets/images/saray-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
}