.main-view{
    height: 100vh;
    width: 100vw;

    .admin{
        &-control-strip{
        height:80px;
        width: 100%;
        background-color: #ccc;
        }
        &-table{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            width: 100%;
            .table-container{
                width: fit-content;
            }
        }
    }

}