<div class="main-view">
    <app-view-header 
    [title]="viewConfig.title"
    [navUrl]="viewConfig.parentNav"
    ></app-view-header>
    
    <section class="admin-body">
        <div class="component-container">
            <section class="controls">
                <div>
                    <select [(ngModel)]="tableViewSelect" (change)="tableViewChange()">
                        <option [value]="'pending'">Pending</option>
                        <option [value]="'accepted'">Accepted</option>
                    </select>
                </div>
            </section>

            <app-booking-table
                [tablePropMap]='tableHeaders'
                [tableData]='tableData'
                (rowAction)='bookingAction($event)'
            ></app-booking-table>
        </div>
        <div class="component-container">
            <app-calendar 
                [bookings]="calendarEvents"
                (eventSelect)="calendarEventSelect($event)"
                (dateSelect)="calendarDateSelect($event)"
            ></app-calendar>
        </div>

    </section>

</div>
 