<div class="main-view">
    <app-view-header 
    [title]="viewConfig.title"
    [navUrl]="viewConfig.parentNav"
    ></app-view-header>
    
    <section class="admin-body">
        <div class="component-container">
            
            <section class="controls">
                <div>
                    <select [(ngModel)]="tableViewSelect" (change)="tableViewChange()">
                        <option [value]="'requested'">Requested</option>
                        <option [value]="'accepted'">Accepted Pending Deposit</option>
                        <option [value]="'upcoming'">Upcoming</option>
                        <option [value]="'historic'">History</option>
                    </select>
                </div>
            </section>

            <app-booking-table
                [tablePropMap]='tableHeaders'
                [tableData]='tableData'
                (rowAction)='bookingAction($event)'
                [noResultsMessage]='tableNoResultsMessage'
                [buttonConf]='showTableButtons'
            ></app-booking-table>
        </div>
        <div class="component-container">
            <app-calendar 
                [events]="_calendarEvents"
                [dynamicOptions]="calendarOptions"
                (eventSelect)="calendarEventSelect($event)"
                (dateSelect)="calendarDateSelect($event)"
            ></app-calendar>
        </div>
    </section>
</div>

<mat-drawer-container [hasBackdrop]="'true'">
    <mat-drawer #drawer [mode]="'over'">
        <app-admin-settings>

        </app-admin-settings>
    </mat-drawer>
    <button (click)="drawer.toggle()">Open Settings</button>
</mat-drawer-container>


 <app-loading-screen></app-loading-screen>