<div class="main-view">
    <app-view-header 
    [title]="viewConfig.title"
    [navUrl]="viewConfig.parentNav"
    ></app-view-header>
    <section class="admin-body">
        <div class="table-container">
            <section class="controls">
                <div>
                    <select (change)="tableViewChange($event.target.value)">
                        <option value="pending">Pending</option>
                        <option value="accepted">Accepted</option>
                    </select>
                </div>
            </section>

            <app-booking-table
                [tableHeaders]='tableHeaders'
                [tableData]='tableData'
                (rowAction)='bookingAction($event)'
            ></app-booking-table>
        </div>
        
    </section>
</div>
 