<div class="comp-container">
    <div class="header">
        <div class="page-title">
            Andrew Saray Tattoos
        </div>
    </div>
    
    <div class="logo">
        <div class="logo-logo"></div>
        <div class="logo-controls">
            <button (click)="navigateTo('about')">About Saray</button>
            <span class="dot small"></span>
            <button (click)="navigateTo('book')" >Book Appointment</button>
            <span class="dot small"></span>
            <button (click)="navigateTo('faq')" >FAQ</button>
        </div>
    </div>
    <div class="footer"></div>
</div>
