@import '/src/assets/master';



.comp-container{
    height: 100%;
    width: 100%;
    
    .logo{
        height:80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo{
            height: 90%;
            width: 100%;
            background-image: url("/assets/images/saray-logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: center;
            background-position-y: center;
        }
        &-controls{
            height: 10%;
            width: 100%;
            max-width: 820px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            -webkit-transform: translateZ(0);
            backface-visibility: hidden;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
            button{
                background-color: transparent;
                border: none;
                color: black;
                text-align: center;
                text-decoration: none;
                font-size: 42px;
                cursor: pointer;
                transition: font-size .5s ease-in-out;
                font-family: Otra;
                white-space: nowrap;
                &:hover{
                    //animation-name: grow;
                    //animation-duration: .6s;
                    //animation-fill-mode: forwards;
                    font-size: 60px;
                    color: var(--joker-green);
                }
            }
        }
    }
    .footer{
        height: 10%;
        width: 100%;
        position: relative;
        .login-container{
            position: absolute;
            top: 50%;
            right: 20px;
            button{
                border: none;
                background:none;
                font-style: italic;
                cursor: pointer;
            }
        }
    }
}

