<div class="comp-container">
    <app-view-header
        [title]="headerConfig.title"
        [navUrl]="headerConfig.parentNav"
    ></app-view-header>
    
    <div class="logo">
        <div class="logo-logo"></div>
        <div class="logo-controls">
            <button (click)="navigateTo('about')">About Saray</button>
            <span class="dot small"></span>
            <button (click)="navigateTo('booking')" >Book Appointment</button>
            <span class="dot small"></span>
            <button (click)="navigateTo('faq')" >faq</button>
            <span class="dot small"></span>
            <button >After Care</button>
        </div>
    </div>

    <div class="footer">
        <div class="login-container">
            <button (click)="login()">Admin Login</button>
        </div>
    </div>
</div>
