
<div class="modal-container">
    <div class="modal-body">
        <section class="modal-title">
            {{configuration.title}}
        </section>
        <section class="modal-content">
            {{configuration.modalMessage}}
            <div class="modal-content-inspect">
                <table>
                    <thead>
                        <th>(Thing)</th>
                        <th>(Value)</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of configuration.modalTableArray">
                            <td>{{row.title}}</td>
                            <td>{{row.value | tryParseDate: 'MMM dd, yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-actions" *ngIf="configuration?.modalActionsGroup === _actionGroupSetting.bookingActions">
                    <button (click)="buttonClickAction(_inspectorActions.rfi)">RFI</button>
                    <button (click)="buttonClickAction(_inspectorActions.accept)">Accept</button>
                    <button (click)="buttonClickAction(_inspectorActions.reject)">Reject</button>
                    <button>other actions?</button>
                </div>
                <div class="modal-actions" *ngIf="configuration?.modalActionsGroup === _actionGroupSetting.cancelable">
                    <button (click)="buttonClickAction(_inspectorActions.cancel)">Cancel</button>
                </div>
            </div>
        </section>
        <section class="modal-footer">
            
        </section>
    </div>
</div>
