<div class="main-view">
    <app-view-header
        [title]="headerConfig.title"
        [navUrl]="headerConfig.parentNav"
    ></app-view-header>
    
    <div *ngIf="pageConfig.showCalendar" class="component-container">
        <app-calendar 
            [events]="_calendarEvents"
            [dynamicOptions]="_calendarOptions"
            (eventSelect)="calendarEventSelect($event)"
            (dateSelect)="calendarDateSelect($event)"
        ></app-calendar>
    </div>
    
   <app-stripe-processor 
    *ngIf="pageConfig.showPaymentProcessor"
    (tokenGenerated)="submitPaymentRequest($event)"
    [bookingDetails]='stripeBookingDetails'
   ></app-stripe-processor>
  
   <div *ngIf="pageConfig.showUpdateDateButton" class="button-container">
        <button class="submit-btn" (click)="updateBookingDate()"> Request Selected Date</button>
   </div>
</div>
<app-loading-screen></app-loading-screen>

