<div class="modal-container">
    <div class="modal-body">
    
        <div *ngIf="configuration.modalSetting === 'bookingSuccess'">
            <ng-container *ngTemplateOutlet="bookingSuccess"></ng-container>
        </div>

        <div *ngIf="configuration.modalSetting === 'login'">
            <ng-container *ngTemplateOutlet="login"></ng-container>
        </div>
            
        <div *ngIf="configuration.modalSetting === 'errorMessage'">
            <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
        </div>

        <div *ngIf="configuration.modalSetting === 'paymentResponse'">
            <ng-container *ngTemplateOutlet="paymentResponse"></ng-container>
        </div>

        <div *ngIf="configuration.modalSetting === 'timeslotSelect'">
            <ng-container *ngTemplateOutlet="timeslotSelect"></ng-container>
        </div>

        <div *ngIf="configuration.modalSetting === 'confirmation'">
            <ng-continer *ngTemplateOutlet="confirmation"></ng-continer>
        </div>
        <div *ngIf="configuration.modalSetting === 'POS'">
            <ng-container *ngTemplateOutlet="POS"></ng-container>
        </div>

    </div>
</div>
<!--------TEMPLATES------------->
<ng-template #bookingSuccess>
    <section class="modal-title">
        {{configuration.title}}
    </section>
    <section class="modal-content">
        {{configuration.modalMessage}}
    </section>
    <section class="modal-footer modal-actions">
        <button (click)="navigateTo('public/about')">About Saray</button>
        <button (click)="navigateTo('public/faq')">faq</button>
        <button (click)="navigateTo('pubic/after-care')">After Care</button>
    </section>
</ng-template>
<!------------------------------->
<ng-template #login>

    <div class="modal-title">
        {{configuration.title}}
    </div>
    <div class="modal-content">
        {{configuration.modalMessage}}
    </div>
    <div class="modal-content-login">
        <label>User Name
            <input name="userName" [(ngModel)]="loginValues.userName" type="text" >
        </label>
        <label>Password
            <input name="password"[(ngModel)]="loginValues.pass" type="password">
        </label>
    </div>
    <div class="modal-footer">
        <button (click)="tryLogin()">Login</button>
    </div>
</ng-template>
<!-------------------------->
<ng-template #errorMessage>
    <section class="modal-title">
        {{configuration.title}}
    </section>
    <section class="modal-content error-text">
        {{configuration.modalMessage}}
    </section>
    <section class="modal-footer">

    </section>
</ng-template>
<!------------------------->
<ng-template #paymentResponse>
    <section class="modal-title">
        {{configuration.title}}
    </section>
    <section class="modal-content">
        <div class="payment-info">
            <ul>
                <li>Charge Applied to Card Ending in: {{configuration.contentBody.content.cardLastFour}}</li>
                <li>Amount: {{configuration.contentBody.content.amount/100 | currency}} </li>
                <li>Receipt: <a href="{{configuration.contentBody.content.receipt_url}}" target="_blank">Payment Receipt</a></li>
            </ul>
            <p>A confirmation email has been generated and will be delivered shortly</p>
        </div>
    </section>
    <section class="modal-footer">

    </section>
</ng-template>
<!------------------------->
<ng-template #timeslotSelect>
    <section class="modal-title">
        {{configuration.title}}
    </section>
    <section class="modal-content">
        {{configuration.modalMessage}}
    </section>
    <section>
        <div class="timeslot-select">
            <mat-form-field>
                <mat-label>TimeSlots</mat-label>
                <mat-select [(value)]="timeslotSelection.selection">
                    <mat-option value="am">AM</mat-option>
                    <mat-option value="pm">PM</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="close()">Select Slot</button>
        </div>
    </section>
</ng-template>
<!---------------------------------->
<ng-template #confirmation>
    <section class="modal-title">
        {{configuration.title}}
    </section>
    <section class="modal-content">
        {{configuration.modalMessage}}
    </section>
    <section>
        <div class="modal-actions">
            <button mat-raised-button color="primary" (click)="confirmButton('accept')">yes</button>
            <button mat-raised-button color="secondary" (click)="confirmButton('cancel')">no</button>
        </div>
    </section>
</ng-template>
<!---------------------------------->
<ng-template #POS>
    <section class="modal-title">
        {{configuration.title}}
    </section>
    <section class="modal-content">
        {{configuration.modalMessage}}
    </section>
</ng-template>