/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";

@font-face{
    font-family: 'Otra';
    src:  url('/assets/fonts/OtraMasstf.eot');
    src: url('/assets/fonts/OtraMasstf.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/OtraMasstf.woff2') format('woff2'),
        url('/assets/fonts/OtraMasstf.woff') format('woff'),
        url('/assets/fonts/OtraMasstf.ttf') format('truetype'),
        url('/assets/fonts/OtraMasstf.svg#svgFontName') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}



:root{
    --joker-purple:#4b3970;
    --joker-green:#007c1c;
}


body{
    margin:0;
    background-color: var(--joker-purple);
    
}

.dot{
    background-color: black;
    border-radius: 50%;

    &.small{
        height: 20px;
        width: 20px;
    }
    &.medium{
        height:40px;
        width: 40px;
    }
    &.large{
        height:80px;
        width: 80px;
    }
    
}

.page-title{
    font-size: 8.5vw;
    margin: 0;
    font-family: Otra;
    padding-top: 20px;
    
}

mat-form-field{
    border-radius: 20px;

    mat-label{
        color:black;
    } 
    .mat-form-field-underline{
        background-color: black !important;
    }
}
.form-field{
    &-fourth{
        width:23%;
    }
    &-third{
        width:31%;
    }
    &-half{
        width:48%;
    }
    &-full{
        width: 99%;
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
