@import '/src/assets/master';

.header{
            
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .icons{
        position: absolute;
        height: 100%;
        
        &-business{
            left: 0;
            top: 0;
            cursor: pointer;
        }
        &-social{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            right: 0;
            top: 0;
            cursor: pointer;
            width: fit-content;
            a{
                margin-right: 15px;
            }
        }
    }

    .business-icon{
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
    }
   

    @media screen and (min-width: $mediaPCWidth) {
        
        div{
            font-size: $mediaPCTitleFontSize;
        }
    }
    @media screen and (max-width: $mediaMobileWidth){
        img{
            display: none;
        }
        div{
            font-size: $mediaMobileTitleFontSize;
        }
    }
    div{
        height: fit-content;
    }
    
}